.header {
  display: flex;
  /* justify-content: center; */
  align-items: center;
  height: 53px;
  background: linear-gradient(90.74deg, #e3eeff -37.48%, #f8fbff 108.93%);
}
.header-menu {
  display: none;
}
.header-back {
  display: flex;
  position: relative;
  left: 16px;
}
.header-backText {
  color: rgba(117, 130, 148, 1);
  margin-left: 11px;
  font-family: Roboto;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0em;
  text-align: left;
}
.header-backSvgDiv {
  width: 5px;
  height: 10px;
}

.header-finance {
  position: absolute;
  top: 8px;
  right: 80px;
  width: 97px;
  height: 56px;
  background: rgba(255, 255, 255, 1);
}
.header-avatar span {
  display: flex;
  overflow: hidden;
  border-radius: 50%;
}
.header-avatar img {
  object-fit: cover;
}
.currencyСourse {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  width: 341px;
  height: 0px;
  background: aqua;
  top: 53px;
  right: 14px;
  background: #ffffff;
  box-shadow: -10px 10px 20px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  opacity: 0;
  transition: opacity 0.4s ease 0.5s, height 0.5s ease 0.5s;
  padding-bottom: 33px;
  z-index: 1;
}
.currencyСourse-header {
  width: 289px;
  height: 65px;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #ebeff4;
  margin-bottom: 11px;
}
.amountFinance {
  margin-top: 24px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  text-align: right;
  color: #4c7eff;
}
.textFinance {
  margin-top: 25px;
  margin-left: 27px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: #005be4;
}

.wrapper {
  display: flex;
  margin-left: 27px;
  margin-bottom: 16px;
  align-items: center;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #212122;
}
.wrapper .svg {
  margin-left: 12px;
  height: 16px;
}
.appear {
  top: 53px;
  opacity: 1;
  height: 348px;
  transition: opacity 0.2s, height 0.5s;
  z-index: 1;
}
.currencyСourse-body {
  width: 100%;
  opacity: 0;
  transition: opacity 0.5s ease;
}
.appear2 {
  opacity: 1;
  transition: opacity 0.5s ease 0.5s;
}

.typeOfMoneyIconSvg {
  /* position: absolute; */
  margin-left: 18px;
}
.badgeFinance {
  color: #838b95;
}
.元 {
  position: relative;
  transform: scale(0.8);
  right: 4px;
}
.zł {
  position: relative;
  right: 2px;
  bottom: 1px;
}
.circle {
  position: relative;
  bottom: 20px;
  right: 6px;
}

.items {
  display: flex;
  margin-left: 47px;
}
.itemsName {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  margin-left: 2px;
}
.as {
  position: relative;
}
.header-finance-text button {
  top: 9px;
  left: 3px;
  position: absolute;
  color: rgba(78, 150, 22, 1);
  font-family: Roboto;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  /* line-height: 18px; */
  letter-spacing: 0em;
  text-align: left;
  background: #ffffff;
  border: unset;
}
.header-finance-svg {
  position: absolute;
  top: 9px;
  right: 9px;
}
.header-avatar {
  display: flex;
  align-items: center;
  position: absolute;
  top: 9px;
  right: 17px;
}
.header-avatar img {
  width: 38px;
  height: 38px;
}
.header-avatar-svg {
  display: flex;
  margin-left: 4px;
}
