html,
body {
  margin: 0;
  padding: 0;
}
#root {
  display: flex;
  flex-direction: row;
  height: 100%;
}
.flimcorLogo .text {
  font-family: Baloo;
  color: rgba(255, 255, 255, 1);
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 35px;
  position: absolute;
  top: 18px;
  left: 53px;
}

.line1 {
  position: absolute;
  /* width: 24.4px;
  height: 12.2px; */
  left: 17px;
  top: 16px;
  /* background: linear-gradient(234.96deg, #005be4 29.39%, #5d9bf8 100.98%); */
}
.line2 {
  position: absolute;
  /* width: 18.83px;
  height: 11.02px; */
  left: 17.08px;
  top: 22.65px;
  z-index: 1;
  /* background: linear-gradient(244.28deg, #005be4 33.82%, #5d9bf8 90.54%); */
}
.line3 {
  /* Vector 9 */

  position: absolute;
  /* width: 20.13px;
  height: 11.77px; */
  left: 17.05px;
  top: 24.73px;

  /* background: #005be4;
  transform: matrix(0, 1, 1, 0, 0, 0); */
}
.menuIcon {
  display: flex;
  position: absolute;
  left: 14px;
  top: 87px;
}
.navBarText {
  margin-left: 14px;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  color: #ffffff;
}
.order {
  display: flex;
  position: absolute;
  /* width: 22px; */
  /* height: 18px; */
  left: 14px;
  top: 128px;
  color: rgba(255, 255, 255, 0.6);
}
.usersOrder {
  display: flex;
  position: absolute;
  left: 14px;
  top: 170px;
}
.users {
  display: flex;
  align-items: center;
  top: 222px;
  left: 14px;
  position: absolute;
}
.users-vector1 {
  left: 3px;
  width: 8px;
  height: 8px;
  position: relative;
}
.users-vector2 {
  position: relative;
}
.suppliers {
  display: flex;
  position: absolute;
  align-items: center;
  top: 275px;
  left: 14px;
}
.suppliers-svgDiv1 {
  position: relative;
  width: 16px;
  height: 7px;
}
.suppliers-svgDiv2 {
  position: relative;
  width: 8px;
  height: 12px;
  top: 2px;
}
.suppliers-svgDiv3 {
  position: relative;
  width: 8px;
  height: 12px;
  top: -10px;
  left: 8px;
}
.finance {
  display: flex;
  position: absolute;
  left: 14px;
  top: 328px;
}
.header {
  display: flex;
  /* justify-content: center; */
  align-items: center;
  height: 53px;
  background: linear-gradient(90.74deg, #e3eeff -37.48%, #f8fbff 108.93%);
}
.header-back {
  display: flex;
  position: relative;
  left: 16px;
}
.header-backText {
  color: rgba(117, 130, 148, 1);
  margin-left: 11px;
  font-family: Roboto;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0em;
  text-align: left;
}
.header-backSvgDiv {
  width: 5px;
  height: 10px;
}

.header-finance {
  position: absolute;
  top: 8px;
  right: 80px;
  width: 97px;
  height: 56px;
  background: rgba(255, 255, 255, 1);
}
.currencyСourse {
  position: absolute;
  width: 341px;
  height: 0px;
  background: aqua;
  top: 45px;
  right: -66px;
  background: #ffffff;
  box-shadow: -10px 10px 20px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  opacity: 0;
  transition: opacity 0.6s ease, height 0.3s;
}
.appear {
  top: 45px;
  opacity: 1;
  height: 315px;
  transition: height 0.5s;
}

.as {
  position: relative;
}
.header-finance-text {
  top: 9px;
  left: 10px;
  position: absolute;
  color: rgba(78, 150, 22, 1);
  font-family: Roboto;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  /* line-height: 18px; */
  letter-spacing: 0em;
  text-align: left;
}
.header-finance-svg {
  position: absolute;
  top: 9px;
  right: 9px;
}
.header-avatar {
  display: flex;
  align-items: center;
  position: absolute;
  top: 9px;
  right: 17px;
}
.header-avatar img {
  width: 38px;
  height: 38px;
  margin-right: 4px;
}
.header-avatar-svg {
  display: flex;
}

.catalog {
  margin: 19px 29px 29px 29px;
  display: flex;
  flex-wrap: wrap;
}
.catalog-item {
  margin: 15px;
  width: 306px;
  height: 409px;
  background-color: lightblue;
}

.catalog-item img {
  width: 306px;
  height: 296px;
}

.catalog-item-text {
  display: flex;
  margin-top: 11px;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: left;
}
.catalog-item-text-svgStar {
  position: relative;
  top: 22px;
  right: 216px;
}
.catalog-item-footer {
  margin-top: 12px;
  display: flex;
  justify-content: space-between;
}

.catalog-item-footer-price {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.catalog-item-footer .text {
  color: rgba(97, 105, 119, 1);
  font-family: Roboto;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  /* line-height: 14px; */
  letter-spacing: 0em;
  text-align: left;
}

.catalog-item-footer-price .textPrice {
  color: rgba(0, 91, 228, 1);
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  /* line-height: 15px; */
  letter-spacing: 0em;
  text-align: left;
}

.catalog-item-footer .wrapperTextandSvg {
  display: flex;
}
.catalog-item-footer-profitability {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 47px;
  width: 33%;
}

.profitability-svg {
  display: flex;
}
.profitability-svg .svgDiv2,
.svgDiv3 {
  margin-left: 2px;
}
.catalog-item-footer-profitability .textPercent {
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 15px;
  letter-spacing: 0em;
  text-align: left;
  color: rgba(78, 150, 22, 1);
  margin-left: 7px;
}
.catalog-item-footer-amountOrder {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 47px;
  width: 33%;
}
.catalog-item-footer-price {
  height: 47px;
  width: 33%;
}
.btnAmountOrder {
  display: flex;
  justify-content: flex-end;
}
.btnAmountOrder button {
  /* background: rgba(76, 126, 255, 1); */
  background: #4c7eff;
  background: #f0f3f8;
  border-radius: 3px;
  width: 80px;
  height: 31px;
}

.wrapperTextandSvg .svg {
  margin-left: 7px;
}

.catalog-item-footer-amountOrder .wrapperTextandSvg {
  display: flex;
  justify-content: center;
  height: 14px;
}
.wrapperContent {
  background: white;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.navBar {
  position: relative;
  min-width: 180px;
  min-height: 100vh;
  background: rgba(33, 33, 34, 1);
}
